body {
  background-color: black;
  color: #92dce5;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid #221b06;
  max-width: 25em;
  min-width: 18em;
}

input {
  background-color: #92dce5;
  border-radius: 5px;
  font-size: 2rem;
}

textarea {
  height: 100px;
  background-color: #92dce5;
  border-radius: 5px;
  font-size: 2rem;
  text-align: center;
}

.submit {
  background-color: #ffbb00;
}
