body {
  background-color: #333;
}

.fullMenuArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  color: #eee;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border: 1px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #000;
  border-radius: 8px;
}

.fullMenuTitle {
  color: #27d907;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.pizzaMenuSection,
.footerMenuArea {
  width: 100%;
  margin-top: 20px;
  padding: 15px 0;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.appetizersSides,
.sideItem {
  display: block;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  color: #27d907;
}

@media (max-width: 768px) {
  .fullMenuArea {
    width: 95%;
    padding: 20px;
  }

  .fullMenuTitle,
  .appetizersSides,
  .sideItem {
    font-size: 2rem;
  }
}
