@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: white;
  font-family: "Abril Fatface", serif;
}

.discount {
  font-size: 2rem;
  text-align: center;
}

.welcome-section {
  position: relative;
  text-align: center;
}

.pizzaSlice {
  width: 100%;
  height: auto;
  border-radius: 0%;
  cursor: default;
  animation: fadeInScale 1.2s ease-in-out both;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* .pizzaSlice {
  margin-top: 60px;
  width: 100%;
  height: auto;
  border-radius: 0%;
  cursor: default;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
} */

.welcome-text {
  position: absolute;
  font-size: 5rem;
  color: #fff;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

header {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0 auto;
  color: #ffbb00;
}

/* nav area here  */
nav {
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 3.4rem;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
}

nav ul li a:hover {
  color: #ffbb00;
  text-decoration: underline;
}

/* .about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.welcomeMessage {
  display: flex;
  line-height: 1.6;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 700px;
  font-size: 2.3rem;
  letter-spacing: 2px;
  padding-right: 20px;
  margin: 20px;
  border: 10px dotted #f0ad4e;
}

.howToOrder {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 700px;
  font-size: 2.3rem;
  letter-spacing: 2px;
  padding-left: 20px;
  margin: 20px;
} */

.about-section {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
  padding-top: 60px;
}

.welcomeMessage {
  display: flex;
  line-height: 1.6;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* width: 700px; */
  font-size: 2.3rem;
  letter-spacing: 2px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #f0ad4e;
  box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.pizzaShop {
  display: flex;
  flex: 1;
  width: 100%;
  border-radius: 0;
  cursor: default;
  height: auto;
  -webkit-animation: flow-top 5s ease-out both;
  animation: flow-top 5s ease-out both;
}

@-webkit-keyframes flow-top {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes flow-top {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.howToOrder {
  display: flex;
  /* flex: 1; */
  color: #f0ad4e;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style-type: none;
  font-size: 2.3rem;
  letter-spacing: 2px;
  padding-left: 20px;
  width: 50rem;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid #f0ad4e;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.card-title {
  text-decoration: underline;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.fullMenuBtn {
  font-size: 2rem !important;
  padding: 15px 30px;
  background-color: #f0ad4e;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.fullMenuBtn:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  animation: wiggle 0.5s ease-in-out;
}

.pizzaMenu {
  font-size: 2.5rem;
  color: #ffbb00;
}

.container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pizzaType {
  width: 50%;
  height: 50%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 2s;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#pepperoni,
#veggie {
  transform: rotateY(180deg);
}

img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}

.pizzaTitle {
  color: white;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.quantity-control button {
  background-color: #f0ad4e;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.quantity-control span {
  min-width: 20px;
  text-align: center;
}

.checkoutSection {
  background-color: #000;
  padding: 20px;
  text-align: left;
}

.checkoutList {
  font-size: 1.5em;
  list-style: none;
  padding: 0;
}

.checkoutTitle {
  font-size: 4rem;
  text-decoration: underline;
}

.total {
  color: #f0ad4e;
}

.checkoutSection h2,
.checkoutSection ul,
.checkoutSection button {
  margin-left: 20px;
  font-size: 1.7rem;
}

.sideBySide {
  display: flex;
  justify-content: space-between;
}

.checkoutSection,
.contactArea {
  width: 48%;
}

.contactArea {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  font-size: 1.7rem;
}

/* media query smallest and small screens */
@media screen and (max-width: 767.98px) {
  .sideBySide {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background-color: #000;
  }

  .checkoutSection,
  .contactArea {
    width: 100%;
    background-color: #000;
    margin-top: 0;
  }
}

/* media query for medium, sorta large, and large screens */
@media screen and (min-width: 968px) and (max-width: 1199.98px) {
  .sideBySide {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background-color: #000;
  }

  .checkoutSection,
  .contactArea {
    width: 100%;
    background-color: #000;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .sideBySide {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background-color: #000;
  }

  .checkoutSection,
  .contactArea {
    width: 100%;
    background-color: #000;
    margin-top: 0;
  }
}
