@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: white;
  font-family: "Abril Fatface", serif;
}

body.mobile-view .orderInstructionsDeals,
body.mobile-view .about-section,
body.mobile-view nav ul,
body.mobile-view .contactArea,
body.mobile-view .checkoutSection {
  flex-direction: column;
  align-items: center;
}

body.mobile-view nav ul li {
  display: block;
  margin: 10px 0;
}

body.mobile-view .pizzaType,
body.mobile-view .pizzaDeal1,
body.mobile-view .pizzaDeal2,
body.mobile-view .howToOrderArea {
  width: 100%;
}

body.mobile-view img {
  max-width: 100%;
  height: auto;
}

.discount {
  font-size: 2rem;
  text-align: center;
  color: #26d907;
  letter-spacing: 3px;
}

.welcome-section {
  position: relative;
  text-align: center;
}

.pizzaSlice {
  width: 100%;
  height: auto;
  border-radius: 0%;
  cursor: default;
  animation: fadeInScale 1.2s ease-in-out both;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.welcome-text {
  position: absolute;
  font-size: 5rem;
  color: #fff;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

header {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0 auto;
  color: #ffbb00;
}

.navbar {
  font-size: 1.5rem;
  opacity: 0.9;
}

.navbar-brand {
  color: #fff !important;
}

.navbar-nav .nav-link {
  color: #ffd700 !important;
}

.navbar-nav .nav-link.active {
  color: #ffd700 !important;
}

.navbar-nav .nav-link:hover {
  color: #f0ad4e !important;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-collapse {
  background-color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 991px) {
  .navbar-nav .nav-link {
    color: #fff;
  }

  .welcome-text {
    top: 50%;
    font-size: 2.3rem;
  }
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    width: 28rem;
  }
}

.welcomeMessage {
  display: flex;
  line-height: 1.6;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2.3rem;
  letter-spacing: 2px;
  padding: 20px;
  margin: 20px;
  box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  width: 750px;
}

.card-body {
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 700px;
}

.pizzaShop {
  display: flex;
  flex: 1;
  width: 100%;
  border-radius: 0;
  cursor: default;
  height: auto;
  -webkit-animation: flow-top 5s ease-out both;
  animation: flow-top 5s ease-out both;
}

@-webkit-keyframes flow-top {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes flow-top {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.orderInstructionsDeals {
  display: flex;
  flex-direction: row;
}

.exploreBullet,
.selectPizza,
.clickPizza {
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.material-symbols-outlined {
  color: #f0ad4e;
}

.howToOrder {
  display: flex;
  color: #f0ad4e;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style-type: none;
  font-size: 2.3rem;
  letter-spacing: 2px;
  padding-left: 20px;
  width: 50rem;
  padding: 2%;
  margin: 20px auto;
  /* border: none; */
  border: 1px solid #27d907;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 255, 26, 0.56);
}

.card-title {
  font-size: 3.5rem;
  text-decoration: underline;
  letter-spacing: 2px;
  margin-bottom: 40px !important;
}

@media (max-width: 992px) {
  .howToOrderArea,
  .about-section,
  .welcomeMessage {
    width: 90%;
    margin: 0 auto;
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.fullMenuBtn {
  font-size: 2rem !important;
  padding: 15px 30px;
  background-color: #ffbb00;
  color: #000;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.fullMenuBtn:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  animation: wiggle 0.5s ease-in-out;
}

.pizzaMenu {
  font-size: 5.5rem;
  color: #ffbb00;
  display: flex;
  flex-direction: start;
  margin-left: 160px;
  text-decoration: underline;
}

.container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pizzaType {
  width: 50%;
  height: 50%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 2s;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#pepperoni,
#veggie {
  transform: rotateY(180deg);
}

img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}

.pizzaTitle,
.pizzaPrice,
.quantity-control {
  position: absolute;
  width: 50%;
  left: 25%;
  text-align: center;
}

.pizzaTitle {
  bottom: 220px;
  font-size: 5rem;
  background-color: rgba(19, 1, 1, 0.6);
  /* background-color: rgba(255, 255, 255, 0); */
}

.pizzaPrice {
  bottom: 120px;
  font-size: 3rem;
  background-color: rgba(19, 1, 1, 0.6);
  /* background-color: rgba(255, 255, 255, 0); */
}

.quantity-control {
  font-size: 2.3rem;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .pizzaType {
    width: 200px;
    height: 200px;
  }

  .pizzaTitle,
  .pizzaPrice {
    font-size: 3rem;
  }

  .quantity-control {
    font-size: 2rem;
  }
}

.quantity {
  padding: 17px;
  border-radius: 7px;
}

.minus,
.plus {
  width: 80px;
  font-weight: 900;
  border-radius: 7px;
}

.minus:hover,
.plus:hover {
  background-color: #27d907;
  color: #000;
}

.quantity-control button {
  background-color: #caf0c3;
  color: #000;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.quantity-control span {
  min-width: 20px;
  text-align: center;
}

.pizzaDeal1 {
  border: 3px dotted #f0ad4e;
  margin-left: 30px;
  text-align: center;
  height: 50%;
  border-radius: 10px;
  font-size: 2.3rem;
}

.pizzaDeal2 {
  border: 3px dotted #f0ad4e;
  margin-right: 30px;
  text-align: center;
  height: 50%;
  border-radius: 10px;
  font-size: 2.3rem;
}

.row .col-md-3.pizzaDeal1,
.row .col-md-3.pizzaDeal2 {
  margin-top: 300px;
}

.checkoutSection {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow-y: auto;
  max-height: 80vh;
  border: 2px solid #f0ad4e;
}

.checkoutTitle {
  font-size: 4rem;
  text-decoration: underline;
  color: #f0ad4e;
  background-color: transparent;
}

.checkoutList {
  font-size: 1.5em;
  list-style: none;
  padding: 0;
  background-color: transparent;
}
.orderItemTitle {
  background-color: transparent;
}

.orderItem {
  background-color: transparent;
}

.total {
  color: #f0ad4e;
  background-color: transparent;
}

.orderOutBtn {
  background-color: #27d907;
  border-radius: 7px;
  padding: 5px;
  color: #000;
}

.resetOrderBtn {
  background-color: #ffbb00;
  border-radius: 7px;
  padding: 5px;
  color: #000;
}

.orderOutBtn:hover {
  background-color: #1eaf05;
  color: white;
}

.resetOrderBtn:hover {
  background-color: #e6a800;
  color: white;
}

.checkoutSection h2,
.checkoutSection ul,
.checkoutSection button {
  margin-left: 20px;
  font-size: 1.7rem;
}

.checkoutSection {
  width: 48%;
}

.contactArea {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.7rem;
  margin-top: 40%;
  margin-left: 40%;
}

.contactInfo {
  color: rgb(239, 7, 46);
  margin-right: 30%;
}

.footerArea {
  position: absolute;
  display: flex;
  right: 20px;
  margin-top: 1200px;
}
