@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: white;
  font-family: "Abril Fatface", serif;
}

body.mobile-view .orderInstructionsDeals,
body.mobile-view .about-section,
body.mobile-view nav ul,
body.mobile-view .contactArea,
body.mobile-view .checkoutSection {
  flex-direction: column;
  align-items: center;
}

body.mobile-view nav ul li {
  display: block;
  margin: 10px 0;
}

body.mobile-view .pizzaType,
body.mobile-view .pizzaDeal1,
body.mobile-view .pizzaDeal2,
body.mobile-view .howToOrderArea {
  width: 100%;
}

body.mobile-view img {
  max-width: 100%;
  height: auto;
}

/* ! Welcome Section Here  */
.welcome-section {
  position: relative;
  text-align: center;
}

.welcome-text {
  position: absolute;
  font-size: 2.5rem;
  color: #fff;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: rgba(251, 55, 1, 0.744);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 1200px) {
  .welcome-text {
    font-size: 3.5vw;
  }
}

@media (max-width: 768px) {
  .welcome-text {
    font-size: 5vw;
  }
}

@media (max-width: 480px) {
  .welcome-text {
    font-size: 7vw;
  }
}

.pizzaSlice {
  width: 100%;
  height: auto;
  border-radius: 0%;
  cursor: default;
  animation: fadeInScale 1.2s ease-in-out both;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ! 10% Discount Here  */
.discount {
  font-size: 2rem;
  text-align: center;
  color: #26d907;
  letter-spacing: 3px;
}

/* ! About Section - How To Order Area  */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    width: 28rem;
  }
}

.card-body {
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 700px;
}

.howToOrder {
  display: flex;
  color: #f0ad4e;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style-type: none;
  font-size: 2.3rem;
  letter-spacing: 2px;
  padding-left: 20px;
  width: 50rem;
  padding: 2%;
  margin: 20px auto;
  border: 1px solid #27d907;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 255, 26, 0.56);
}

.card-title {
  font-size: 3.5rem;
  text-decoration: underline;
  letter-spacing: 2px;
  margin-bottom: 40px !important;
}

.exploreBullet,
.selectPizza,
.clickPizza {
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.material-symbols-outlined {
  color: #f0ad4e;
}

@media (max-width: 992px) {
  .howToOrderArea,
  .about-section,
  .welcomeMessage {
    width: 90%;
    margin: 0 auto;
  }
}

.fullMenuBtn {
  font-size: 2rem !important;
  padding: 15px 30px;
  background-color: #ffbb00;
  color: #000;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.fullMenuBtn:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  animation: wiggle 0.5s ease-in-out;
}
@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

/* ! Pizza Shop Picture Here  */

.pizzaShop {
  display: flex;
  flex: 1;
  width: 100%;
  border-radius: 0;
  cursor: default;
  height: auto;
  -webkit-animation: flow-top 5s ease-out both;
  animation: flow-top 5s ease-out both;
}

@-webkit-keyframes flow-top {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes flow-top {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.orderInstructionsDeals {
  display: flex;
  flex-direction: row;
}

/* ! Contact Area - Location, Phone, Hours  */

.contactArea {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.7rem;
  margin-top: 40%;
  margin-left: 40%;
}

.contactInfo {
  color: rgb(239, 7, 46);
  margin-right: 30%;
}

/* ! Checkout Section Here  */

.checkoutSection {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow-y: auto;
  max-height: 80vh;
  border: 2px solid #f0ad4e;
}

.checkoutSection h2,
.checkoutSection ul,
.checkoutSection button {
  margin-left: 20px;
  font-size: 1.7rem;
}

.checkoutSection {
  width: 48%;
}

.checkoutTitle {
  font-size: 4rem;
  text-decoration: underline;
  color: #f0ad4e;
  background-color: transparent;
}

.checkoutList {
  font-size: 1.5em;
  list-style: none;
  padding: 0;
  background-color: transparent;
}
.orderItemTitle {
  background-color: transparent;
}

.orderItem {
  background-color: transparent;
}

.total {
  color: #f0ad4e;
  background-color: transparent;
}

.orderOutBtn {
  background-color: #27d907;
  border-radius: 7px;
  padding: 5px;
  color: #000;
}

.resetOrderBtn {
  background-color: #ffbb00;
  border-radius: 7px;
  padding: 5px;
  color: #000;
}

.orderOutBtn:hover {
  background-color: #1eaf05;
  color: white;
}

.resetOrderBtn:hover {
  background-color: #e6a800;
  color: white;
}

/* ! Footer Area  */

.footerArea {
  position: absolute;
  display: flex;
  right: 20px;
  margin-top: 1200px;
}

@media (max-width: 768px) {
  .pizzaType {
    width: 200px;
    height: 200px;
  }

  .pizzaTitle,
  .pizzaPrice {
    font-size: 3rem;
  }

  .quantity-control {
    font-size: 2rem;
  }
  .welcome-text {
    font-size: 1rem;
  }
}
